
<form action="/users/login" method="POST" style="display: grid; gap: 1rem; margin-top: 2rem;">
    <h1>Login</h1>
    <input name="email" type="email">
    <input name="password" type="password">
    <button>Login</button>
    <a href="" style="text-decoration: none;">Registro</a>
</form>