<form action="/users/add" method="post" style="display: grid; gap: 1rem; margin-top: 2rem;">
    <input type="text" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" name="name" placeholder="name">
    <input type="text" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" name="lastname" placeholder="lastname">
    <input type="text" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" name="email" placeholder="email">
    <input type="password" style="border: 0; box-shadow: 2px 2px 10px; border-radius: 4px; padding: .5rem 1rem;" name="password" placeholder="password">
    <button type="submit" style="margin: auto; width: fit-content; background: green; color: #fff; border: 0; padding: .5rem 1rem; border-radius: 4px;">Añadir usuario</button>
</form>