<form action="/users/add" method="post" style="display: grid; margin-top: 2rem;">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit"></button>
</form>