<header style="display: flex; gap: 1rem; align-items: center;">
    <a href="/" style="text-decoration: none; color: #000; font-size: 1.2rem; font-weight: bold;">UserCars</a>
    <a href="/users/add" style="text-decoration: none; color: #000;">Añadir usuario</a>
    <a href="/users" style="text-decoration: none; color: #000;">Listar usuario</a>
    <a href="/cars/add" style="text-decoration: none; color: #000;">Añadir coche</a>
    <a href="/cars/" style="text-decoration: none; color: #000;">Listar coche</a>
    <a href="/cars/api" style="text-decoration: none; color: #000;">Listar coche API</a>
    <a href="/users/logout" style="text-decoration: none; color: #000;">Salir</a>
</header>